* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    padding: 10px;
    border-top: 5px solid #6CA300;
}
.author {
    display: flex;
    align-items: center;
}
.author-name h2, .author-name p {
    margin: 0;
}
.author-name {
    margin-left: 10px;
}
blockquote {
    margin-left: 0;
    padding: 0;
    border-left: 5px solid #ccc;
    padding-left: 10px;
    word-wrap: break-word;
}
main {
    max-width: 500px;
}
iframe {
    margin-top: 10px;
    border: 1px solid #ccc;
}
a {
    color: #6CA300;
    text-decoration: none;
}
.inner-embed {
    margin-top: 25px;
}
.embedded-image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 25px;
}

input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 1em;
    width: 100%;
}
button {
    background: #6CA300;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1em;
}
.datelink {
    color: grey;
    text-decoration: none;
    font-size: 0.8em;
    margin-bottom: 10px;
    display: block;
}
select {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 1em;
    width: 100%;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.external-embed {
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.external-embed img {
    margin-top: 0;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.external-embed .text-card {
    padding: 10px;
}
.external-embed .text-card .title {
    font-size: 1.2em;
    margin-top: 0;
}
.text-card .description {
    color: black;
}
.poll {
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}
.poll-answers {
    list-style: none;
    padding: 0;
}
.poll-answer {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}
.poll-answer p {
    margin: 0;
}
.poll-answer:first-child {
    padding-top: 0;
}
.poll-answer:last-child {
    padding-bottom: 0;
}
progress {
    width: 100%;
    height: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
@media screen and (min-width: 500px) {
    input {
        width: 100%;
    }
}